<!doctype html>
<html>
    <head>
        <%= stylesheet_link_tag "styles" %>  
    </head>
    <body>
        <div id="sign"></div>
        <%= javascript_pack_tag 'main\\app' %>
    </body>
</html>
