
<div id="root"> </div>

<script type="text/javascript" charset="utf-8">
    window.AutomatedLeave.user = <%= raw user_signed_in? ? UserSerializer.new(current_user, root: false).to_json: 'null' %>
</script>

<%= javascript_pack_tag 'main/app' %>
