<!doctype html>
<html>
    <head>
        <%= stylesheet_link_tag "bootstrap" %>    
    </head>
    <body>
        <h1>Welcome#index</h1>
        <div id="root"> </div>
        <%= javascript_pack_tag 'index' %>
    </body>
</html>
